* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'VT323', monospace;
    font-size: 12px;
}

body {
    height: 100vh;
    min-height: 100vh;
    background: linear-gradient(to left top, #140843, #5D1126 80%);
    background-size: cover;
    color: #FCED5E;
    padding: 2rem;
}

.tetris {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    width: 100%;
    height: 100%;
    /* max-width: 650px; */
    margin: 0 auto;
}

.tetris__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    width: 100%;
    height: 100%;
}

.tetris__header {
    font-size: 4rem;
}

.tetris__game {
    width: 100%;
    max-width: 650px;
}

.tetris__controls-touch {
    display: none;
    flex-grow: 1;
    justify-content: center;
    align-items: baseline;
    width: 100%;
}

.tetris__controls-legend {
    list-style: none;
    font-size: 3rem;
    line-height: 4rem;
}

.tetris.tetris_touch .tetris__controls-touch {
    display: flex;
}

.tetris.tetris_touch .tetris__controls-legend {
    display: none;
}

@media (orientation: landscape) {
    .tetris__content {
        flex-direction: row;
    }

    .tetris__controls-touch {
        align-items: center;
        height: 100%;
        max-height: 650px;
    }
}